{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'static/css/base.css' %}">

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
 <!-- WishList -->
    <div class="overlay"></div> 
  
            <div class="container">
                <div class="row">
                    <div class="col">
                        <hr>
                        <h1 class="logo-font mb-4 text-bl">Wishlist</h1>
                        <hr>
                    </div>
                </div>
            </div>
       
        
            
                {% if items %}
            <div class="container">
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-bl">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    {% for item in items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.image %}
                                    <img class="img-fluid rounded" src="{{ item.image.url }}" alt="{{ item.name }}">
                                {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong class="text-bl">{{ item.name }}</strong></p>
                                <p class="my-0 text-bl"><strong class="text-bl">Size: </strong>{% if item.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 small text-bl">Product Type: {{ item.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.price }}</p>
                            </td>
                            <td colspan="5" class="text-right">
                                <a class="text-success" href="{% url 'add_to_bag' item.id %}">Add to bag</a>
                            </td>
                            
                            <td>
                                <a class="text-danger" href="{% url 'remove_from_wishlist' item.id %}">Delete Item</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">

                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                </table>
            </div>
            <div class="col{% if s %}-12 mt-2{% endif %}">
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
        {% else %}
        <div class="container">
            <p class="text-bl">Your wishlist is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
                </a>
        </div>
        {% endif %}

        

        {% block postloadjs %}
        {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
        {% include 'products/includes/quantity_input_script.html' %}
        
        <script type="text/javascript">
            // Update quantity on click
            $('.update-link').click(function(e) {
                var form = $(this).prev('.update-form');
                form.submit();
            })
        
            // Remove item and reload on click
            $('.remove-item').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var size = $(this).data('product_size');
                var url = `/bag/remove/${itemId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        
                $.post(url, data)
                 .done(function() {
                     location.reload();
                 });
            })
        </script>
        {% endblock %}

 {% endblock %}