{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="wrapper">
        <div class="content">
            <div class="main">
                <h2>500</h2>
            </div>
            <div class="text">
                <p>OOPS! <br>Something went wrong!</p>
                <span>This sometimes happens with vintage items, please bare with us!</span>
                <button><a class="btn" aria-current="page" href="{% url 'home' %}">Go Back</a></button>
            </div>
        </div>
    </div>
</section>
{% endblock %}