{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %}

{% block content %}

<!-- 500 page  -->
<section class="mainc">
    <div class="wrapper">
        <div class="content">
            <div class="main">
                <h2 class="text-danger">500</h2>
            </div>
            <div class="text-danger">
                <p>OOPS! <br>Something went wrong!</p>
                <span>This sometimes happens with vintage items, please bare with us!</span>
                <button><a class="btn" aria-current="page" href="{% url 'home' %}">Go home</a></button>
            </div>
        </div>
    </div>
</section>



{% endblock %}