{% extends "base.html" %} 
{% load static %} 

{% block extra_meta %}
<meta name="keywords" content="blog, posts">
{% endblock %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

 <!-- Inbox page -->

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-bl">Admin Inbox </h2>
            <hr>
        </div>
    </div>
    <div class="container-sm">

        <table class="table text-bl">
            <thead>
                {% regroup contacts by email as contacts_group %}
                {% for group in contacts_group %}
              <tr>
                <th scope="col">#</th>
                <th scope="col"><strong>Email:</strong></th>
                <th scope="col">Message:</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in group.list %}
                <tr>
                  <th scope="row">1</th>
                  <td>{{ group.grouper}}</td>
                  <td>{{ contact.message }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

</div>

    
</div>
   

{% endblock %}