{% extends "base.html" %} 
{% load static %} 

{% block extra_meta %}
<meta name="keywords" content="blog, posts">
{% endblock %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

 <!-- Inbox page -->

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-bl">Admin Inbox </h2>
            <hr>
        </div>
    </div>
    <div class="container-sm">
               
        
            
        <div class="container">
            <div class="contact-map col-md-6 col-12">
                <ul class="text-bl">
                    {% regroup contacts by email as contacts_group %}
                    {% for group in contacts_group %}
                    <li class="admincontainer">
                        <strong>Email:</strong> {{ group.grouper }}<br>
                        <ul>
                            <br>
                        {% for contact in group.list %}
                            <li><strong>Message:</strong> {{ contact.message }}</li>
                            <br>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


    

</div>

    
</div>
   

{% endblock %}