{% extends "base.html" %} {% load static %} {% block content %}
<!-- Contact page -->
<form method="post" class="was-validated">
    {% csrf_token %}
    <div class="contact-container">

        <div class="contact-box">
            <!-- contact Img src -->
            
             <!-- Security token -->
             {% csrf_token %}
            <div class="right">
                <!-- contact form -->
                <h2>Contact us</h2>
                <input type="text" class="field" placeholder="Your Name" name="name" required>
                <input type="text" class="field" placeholder="Your Email" name="email" required>
                <input type="text" class="field" placeholder="Phone" name="phone">
                <textarea placeholder="Message" class="field" name="message" required></textarea>
                <button class="btn">Send</button>
            </div>
        </div>
    </div>
</form>


{% endblock %}